
//custrom scrollbar
* {
  @include customscrollbar($size: 6px, $trackcolor: none, $thumbcolor: #d4d4d4, $thumbhovercolor: #bdbdbd);
  scroll-padding: 50px 50px 0 50px;

  &:focus {
    outline: none;
  }
}
 
html {
  scroll-behavior: smooth;  
}
body {

color: var(--gray-dark);
line-height: 1.5;
overflow-x: hidden;
}

blockquote {
font-style: italic;
line-height: 1.75;
text-align: center;
}


.list-inline {
  display: flex;
  flex-wrap: wrap;
  > *:not(:last-child) {
    margin-right: 8px;
  }
}
