//  color 
 $primary:#0E6EB8;
 $secondary:#E30A16;  

//  button
 $btn-border-radius:4px;
 $btn-border-radius-lg:4px;
 $btn-border-radius-sm:4px;
 $input-btn-padding-y-lg:18px;
$input-btn-padding-x-lg: 36px;

// typography
$enable-responsive-font-sizes: true;
$headings-font-weight:600;
$font-family-base:'Open Sans', sans-serif;
$headings-font-family:'Merriweather', serif;
 

