/**
 *
 * blockquote section
 *
 */
 .section--blockquotes {
     display: flex;
     flex-direction: column;
 }

.blockquotes-wrapper {
    background-color: #1ab4bb;
    padding: 80px 0;
    color: white;
    blockquote {
        margin-bottom: 0;
        @include font-size(30px);
        position: relative;

        &:before {
            font-family: "Material Icons";
            content: "format_quote";
            transform: rotateZ(-180deg);
            display: inline-block;
    
            @include font-size(166);
            position: absolute;
            top: 0;
            line-height: 1px;
            opacity: 0.3;
            left: 0;
        }
    }
}
