
/**
 *
 * footer
 *
 */

 .footer {
    .widget-title {
        margin-bottom: 16px;
        font-weight: 600;
        font-size: 20px;
    }
    .menu {
        list-style: none;
        padding:0;
         columns: 2;
         
         li {
             margin-bottom: 6px;
         }
         
         
    }
    &-main {
        padding:20px 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding-top:30px;
    }
    
   
  }
