
/**
 *
 * header
 *
 */
:root{
    --headerWidth:126px;
}
 .header {
    position: absolute;
    z-index: 100;
    top:0;
    left: 0;
    right:0;
  
    .navbar {
          background: white;
          border-radius: 0 0 8px 8px ;
          position: fixed;
          transition: all  1s 1s;
          top:0;
          @include media-breakpoint-down(md) {
          left:0;
          right:0;
          }
           box-shadow:0 6px 6px 0 rgba(black, 0.35);
           &-brand {
            img {
                height:60px;
                @include media-breakpoint-up(md) {
                    height: 100px;
                }
                transition:all 0.3s;
            }
        }
 
    }

    &.sticky {
        .navbar-brand {
            img {
                height: 60px;
            }
        }
        .navbar {
            padding: 0 16px;

           &-nav--top {
              display: none;
             
           }
                 
        }
    }
    .navbar-collapse {
        display: flex;
        flex-direction: column-reverse;
        @include media-breakpoint-up(lg){
            flex-direction: column;

        }
        align-items: flex-start;
        &:not(.show){
            display: none;
        }
        &.show {
            @include media-breakpoint-down(md){
                overflow: auto;
                height: calc(100vh - 70px);
            }
        }
    }
    
    .navbar-nav {
        &--top {
            border-bottom:1px solid #ccc;
            padding-bottom: 16px;
            flex:1;
            width:100%;
            margin-bottom: 8px;
            >li, >li>a {
                display: flex;
                align-items: center;
                &:hover {
                    text-decoration: none;
                }
                .material-icons {
                    margin-right:8px;
                }
            }
            >li:not(:last-child){
                margin-right:16px;
            }
        }
        &--menu {
            width: 100%;
            flex:1;
            .nav-item {
                &:not(.active){
                   .nav-link {
                        color:#212121;
                   }
                }
                &:not(:last-child){
                    margin-right:4px;
                }
                &.active {
                    .nav-link {
                        background: var(--primary);
                        color:white;
                        
                    }
                }
            }
            .nav-link {
                font-weight: 500;
                padding:6px 9.8px;
                border-radius: 4px;
            }
            
        }
    }
}