
/**
 *
 * news and events
 *
 */

 .section-header-events {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .section-title {
        display: grid;
        grid-template-columns: auto 1fr;
       display:flex;
       flex:1;
        position: relative;
      
        &:after {
          content: "";
        align-self: center;
        width: 100%;
        flex:1 1 100%;
        height: 1px;
        margin: 0 20px;
        background: currentColor;
     
        }
    }
}