
/**
 *
 * studend testimonials
 *
 */

 .section--testimonials {
  
    .container {
        position: relative;
    }

    .owl-carousel {
        .item {
            padding:16px;

            .card {
                .card-body {
                    @include media-breakpoint-down(sm){
                        padding:16px;

                    }
                }
                &:hover {
                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3) !important;
                }
            }
        }
    }

    .owl-navs {
 
        margin-right: 16px;
        justify-content: flex-end;
        margin: -4px;
        margin-right: 16px;
        display: none;
        @include media-breakpoint-up(md){
            display: flex;
        }
        >* {
            border:1px solid #ccc;
            display: flex;
            margin: 4px;
            // padding: 8px 16px;
            &:hover, &:focus {
                text-decoration: none;
            }
            
        }
    }

    .testimonial-carousel-wrapper {
        @include media-breakpoint-up(md){
            transform:translateY(-60px);
        }
    }
 }
 
.blog-img {
    position: absolute;
    opacity: 0.2;
    left: 0;
    // top:-15%;

    @include media-breakpoint-up(lg){
        transform:scale(1.2);
    }
}

